body {
  margin: 0 auto;
  width: 670px;
  background-image: url(blankcomputer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  color:#000000;
  margin-bottom: 0%;
  align-items: center;
  background-color: #f4f4f7;
}
